<h1>New Phone record</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.phone_record_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.phone_record_path(@conn, :index) %></span>
